/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kode Mono', monospace;
    line-height: 1.6;
    /* Adding a gradient background */
    background: linear-gradient(135deg, #ffffff 25%, #5f5f5f 100%);
    color: #333;
}

@font-face {
    font-family: 'Kode Mono';
    src: url('KodeMono-Regular.ttf') format('truetype'); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Add position relative to contain absolute positioned pages */
}
.logo {
    max-height: 80px; /* Set a maximum height for the logo */
    width: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adjust spacing */
}

header {
    background-color: #151d32;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
}

header:hover {
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Kode Mono', monospace; 
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: red; 
}

section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

.project {
    background-color: #fff;
    padding: 30px; 
    margin-bottom: 40px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    position: relative;
    overflow: hidden;
}

.project:hover .overlay {
    transform: translateY(0);
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.project:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    transform: translateY(100%);
}

.overlay h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 16px;
    margin-bottom: 20px;
}

.project a {
    display: inline-block;
    padding: 12px 24px; 
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s; 
}

.project a:hover {
    background-color: red; 
}

.portfolio h2,
.contact h2 {
    color: blue; 
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {
        padding: 5px 0;
    }
    header h1 {
        font-size: 20px;
    }
    nav ul li {
        margin-right: 10px;
    }
    section {
        padding: 30px 0;
    }
    section h2 {
        font-size: 20px;
    }
    .project {
        padding: 20px;
    }
    .project img {
        width: 100%;
    }
    .overlay h3 {
        font-size: 20px;
    }
    .overlay p {
        font-size: 14px;
    }
    .project a {
        padding: 8px 16px;
    }
}
